@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

::selection {
  background: #8f987d;
  color: #fff;
}

.react-multi-carousel-list .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}
.react-multi-carousel-list .arrow-btn:hover {
  width: 60px;
}

.carousel-px4 {
  padding-left: 6px;
  padding-right: 6px;
}

.event-image {
  border-radius: 50%;
  transition: all 0.3s ease;
}

.event-image:hover,
.event-image:focus,
.event-image:active {
  border-radius: 5%;
}

@media (hover: hover) and (pointer: fine) {
  .event-image:hover {
    border-radius: 5%;
  }
}
